node_modules/
dist/
package-lock.json

# Temporary files
tmp/
.serverless/
.test-runner-state.json
**/coverage/
**/jest-results*.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
tfplan-*.out
packages/frontend/cucumber-results.json
.agent-channel
