// -------------------------------------------------------------------------
// This file contains all Storybook Sass variables.
// -------------------------------------------------------------------------

$color-primary: #173148;
$color-secondary: #D7E5F2;
$color-white: #FFFFFF;
$color-gray: #636B74;
$color-light-blue: #e3effb;
$color-text-secondary: #32383E;
$color-black: #000;

$font-body: 'Inter', sans-serif;

$border-radius: 8px;
$border-radius-round: 50px;
