// Layer 3: Logo with text (no vendor equivalent)
.logo-with-text {
  display: flex;
  align-items: center;
  gap: 16px;

  &--with-bg {
    align-items: flex-start;
    gap: 8px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
  }

  &__title1 {
    font-weight: 700;
    color: $color-primary;
    font-size: 12px;
    letter-spacing: 0.5px;

    &--with-bg {
      font-size: 14px;
      letter-spacing: normal;
    }
  }

  &__title2 {
    font-weight: 600;
    color: $color-primary;
    font-size: 14px;

    &--with-bg {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
